#counter {
    font-size: 24px;
    margin: 0 20px;
}

.green {
    color: green;
}

.red {
    color: red;
}


#coordinateBlock{
    width: 500px;
    height: 500px;
    border: 2px solid blue;
}

.traffic-light {
    width: 100px;
    background: #333;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
}

.light {
    width: 60px;
    height: 60px;
    margin: 10px auto;
    border-radius: 50%;
    background: gray;
}

.red-light.active {
    background: red;
}

.yellow-light.active {
    background: yellow;
}

.green-light.active {
    background: green;
}
